@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontePadrao: verdana, Geneva, Tahoma, sans-serif;
    --fonteTitulo: 'Passion One', sans-serif ;
    --fonteCordel: 'Sriracha', cursive;
}

*{
    margin:0px;
    padding: 0px;
    font-size: 1em;
}
html, body {
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: var(--fontePadrao);
}
header {
    background-color: black;
    text-align: center;
}
 h1 {
    font-family: var(--fonteTitulo);
    color : white;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
   
}
header > p {
    font-family: var(--fonteTitulo);
    color: gray;
    padding-bottom: 50px;
}
p > a {
    font-family: var(--fontePadrao);
    color:white;
    text-decoration: none;
    font-weight: bolder;
}
p >a:hover {
    text-decoration: underline;
}
section {
    padding-left: 30px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--fonteCordel);
}
section > p {
    white-space: pre-line;
    padding-bottom: 2em;
}
section.imagem {
    background-color: rgb(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.233);
    text-shadow: 1px 1px 0px black;
}
section#fundo1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
   
}
section#fundo2 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}
footer {
    background-color: black;
    padding: 10px;
}
footer > p {
    color: white;
    text-align: center;
}