@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontePadrao: verdana, Geneva, Tahoma, sans-serif;
    --fonteTitulo: 'Passion One', sans-serif ;
    --fonteCordel: 'Sriracha', cursive;
}

*{
    margin:0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: var(--fontePadrao);
}
header {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
 h1 {
    font-family: var(--fonteTitulo);
    color : white;
    margin: auto;
    padding: 5px;
    font-variant: small-caps;
    font-size: 6vw;
   
}
header > p {
    font-family: var(--fonteTitulo);
    color: gray;
}
p > a {
    font-family: var(--fonteTitulo);
    color:white;
    text-decoration: none;
    font-weight: bolder;
}
p >a:hover {
    text-decoration: underline;
}
section {
    /* margin-bottom: 30px; */
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 2vw;
}
section > p {
    white-space: pre-line;
    font-family: var(--fonteCordel);
    padding-left: 30px;
    padding-bottom: 2em;
}
section#fundo1 {
    position: relative;
    height: 70vh;
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-color: black;
    max-width: 1468px;
    min-width: 350px;
    background-attachment: fixed;
}
p#fundo1 {
    color: white;
    display: inline-block;
    padding: 5px;
    height: 70vh;
    /* width: 200px;
    height: 250px; */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.233);
    background-repeat: no-repeat;
    background-position-x: 50%;
    padding-top: 25px;
}

section#fundo2 {
     position: relative;
    height: 70vh;
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-color: black;
    max-width: 1468px;
    min-width: 350px;
    background-attachment: fixed;
}
p#fundo2 {
   
    color: white;
    display: inline-block;
    height: 70vh;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.233);
    background-repeat: no-repeat;
    background-position-x: 50%;
    padding-top: 25px;
}
footer {
    background-color: black;
    padding: 10px;
}
footer > p {
    color: white;
    text-align: center;
}