@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf)
    format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2FA866;
    --cor4: #1A5c37;
    --cor5: #063D1E;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'idroid', sans-serif;
}
body{
    background-color: var(--cor1);
    margin: 0px;
    
}
header {
    /* background-color: var(--cor3); */
    padding: 5px;
    margin-bottom: 0px;
    background-image: linear-gradient(to top, var(--cor5)1%, var(--cor4)4%, var(--cor3));
    padding-bottom: 20px;
    margin:0px;
}
nav{
    /* background-color: var(--cor3); */
    padding: 0px;
    margin: 0px;
    color: whitesmoke;
}

main {
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    margin:auto;
    border:solid  rgba(77, 77, 77, 0.66);
    padding: 8px;
}

h1#titulo {
    font-family: 'Bebas Neue' ;
    text-align: center;
    color: rgba(245, 245, 245, 0.74);
}
h1.android {
    font-family: 'idroid';
    text-align: left;
    color:green;
}
h2 {
    font-family: 'idroid';
    text-align: left;
    color: lightgreen;
    background-color: rgba(159, 245, 159, 0.368) ;
}
h3 {
   background-color: var(--cor2);
   text-decoration-color: white;
   color:whitesmoke;
}
p#header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 9px;
    color:whitesmoke;
    line-height: 30px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    margin: auto;
    padding-top: 9px;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 30px;
    
}
ul {
    margin-top: 0px;
}
a{
    color: whitesmoke;

}
a:visited{
    color: var(--cor0);
}
picture {
    justify-content: center;
    align-items: center;
    margin: 0px;
}
img {
    display: block;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
div{
    background-color: var(--cor0);
    padding: 10px;
}
footer {
     background-color: black;
            color:whitesmoke;
            text-align:center;
            padding: 4px;
            margin:0px;
            padding: 0px;
}