@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right,#E3E3ED, #D3D8F8);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #293dab93;
}
h1{
    color: #FADF49;
    text-align: center;
    text-shadow: 1px 1px 1px #c0aa33aa;
}
h2{
    color: #378BFA;
}
p{
    text-align:justify;
}
 