@charset "UTF-8";
/*
Tudo que em HTML é id, em CSS é # (só pode 1 elemento)
Tudo que em HTML é class, em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(170, 248, 222);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(78, 183, 244)
}
h1#principal {
    text-align: center;
    background-color: rgba(59, 123, 226, 0.628);
    color:whitesmoke
}
.basico{
    color: rgb(47, 126, 217)
}
.intermediario{
    color:rgb(194, 194, 96)
}
.avancado{
    color:rgba(255, 102, 102, 0.861)
}
.destaque{
    background-color: rgba(235, 235, 42, 0.511);
    font-weight: bolder;
    font-family: Times;
}
h2 {
    color: rgb(47, 126, 217)
    
}